---
import "../styles/global.css";
import Layout from '../layouts/Layout.astro';
import LoginForm from "../components/LoginForm.astro";
---

<Layout>
	<main class="bg-[#0D0F1A] w-full h-[100%] flex justify-center items-center" >
        <LoginForm/>
    </main>
</Layout>

<style>
    main {
    background-color: #000;
    background-image: 
        linear-gradient(rgba(20, 18, 18, 0.4), rgba(0, 0, 0, 0.1)), 
        url("/Img/Icons/descarga.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
</style>