---
import "../styles/global.css";
import Layout from '../layouts/Layout.astro';
import SignUpForm from "../components/SignUpForm.astro";
---

<Layout>
	<main class="bg-[#0D0F1A] w-full h-full flex justify-center items-center" >
        <SignUpForm/>
    </main>
</Layout>

<script>
    
</script>