---
import "../styles/global.css";
import Principal from '../layouts/Principal.astro';
import UsersData from "../components/UsersData.astro";
import UserOption from "../components/UserOption.astro";

---

<Principal>
	
    <main class="bg-[#1e1f27fe] w-full h-[90vh] flex flex-col items-center px-4">
    <UsersData/>
	</main>
</Principal>
