---
import "../styles/global.css";
---

<div class=" w-full h-[35%] bg-[#2e1a09fb] flex items-center justify-center">
    <div class="w-[40%] h-full p-4 flex flex-col justify-center text-amber-50">
        <div >
            <h1 class="text-5xl font-bold m-2">Bienvenidos a Snackify</h1>
        </div>
        
        <h3 class="text-3xl mt-4 ml-7">Tu antojo en un click</h3>
    </div>
    <div class="w-[320px] h-[320px] overflow-hidden flex justify-end items-center">
        <img src="/Img/Icons/banner.webp" alt="" class="w-[100%] h-auto">
    </div>
</div>
