---
import '../styles/global.css';
---

<div class="categories w-full h-[60px] bg-[#1e1f27ec] flex items-center justify-between">
    <ul class=" categorie w-full flex justify-evenly gap-1.5 text-l font-semibold text-amber-50">
        <li><a href="/chocolateria">Chocolatería</a></li>
        <li><a href="/dulces">Dulces</a></li>
        <li><a href="/postres">Postres</a></li>
        <li><a href="/panaderia">Panaderia</a></li>
        <li><a href="/malvaviscos">Malvaviscos</a></li>
    </ul>
</div>

<style>
    .categories{
        overflow: hidden;
    }
    
</style>