---
import { Image } from 'astro:assets';
import logo from '../../public/Img/Icons/logo.webp';
---

<section class="login w-full max-w-md bg-[#00000098] rounded-2xl p-6 backdrop-blur-sm">
  <a href="/" class="block">
    <div class="w-full flex items-center justify-center gap-4 mb-6">
      <Image src={logo} alt="Logo de Snackify" class="h-[60px] w-[60px]" />
      <h3 class="text-[#ddd] font-bold text-3xl">Snackify</h3>
    </div>
  </a>

  <form action="" class="flex flex-col items-center gap-4">
    <h1 class="font-bold text-4xl text-white text-center">Iniciar Sesión</h1>

    <div class="w-full flex flex-col">
      <label for="email" class="text-xl text-white mb-1">Dirección de email</label>
      <input type="email" id="email" required placeholder="example@gmail.com" class="p-2 w-full border-b border-white bg-transparent placeholder-[#89CFF0] text-white outline-none" />
    </div>

    <div class="w-full flex flex-col">
      <label for="password" class="text-xl text-white mb-1">Contraseña</label>
      <input type="password" id="password" required class="p-2 w-full border-b border-white bg-transparent text-white outline-none" />
    </div>

    <div class="text-sm text-[#eee] w-full">
      <p>Al identificarte aceptas nuestras <a href="/" class="text-sky-500 underline">Condiciones de uso y venta</a>. Consulta nuestro <a href="/" class="text-sky-500 underline">Aviso de privacidad</a>.</p>
    </div>

    <button type="submit" class="w-[80%] py-2 rounded-2xl text-lg font-bold text-amber-50 border border-amber-50 hover:bg-amber-50 hover:text-black transition"><a href="/">Iniciar Session</a></button>

    <div class="w-full text-right">
      <a href="/" class="text-[#eee] text-sm">¿Has olvidado la contraseña?</a>
    </div>

    <div class="flex items-center w-full gap-4">
      <div class="flex-grow border-t border-gray-400/30"></div>
      <span class="text-gray-400 text-sm">¿Eres nuevo?</span>
      <div class="flex-grow border-t border-gray-400/30"></div>
    </div>

    <a href="/signUp" class="w-[80%] py-2 text-xl font-bold text-center rounded-2xl text-amber-50 border border-amber-50 hover:bg-amber-50 hover:text-black transition">Crear cuenta</a>
  </form>
</section>

<style>
  .login {
    height: auto;
  }

  @media screen and (max-width: 560px) {
    .login {
      width: 90%;
      margin: auto;
    }
  }
</style>
